i {
  font-style: normal
}

#head {
  height: 1.333333rem;
  background-color: #f9f9f9;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
}

#head>div {
  text-align: center;
  line-height: 1.3333333rem;
  width: 1.6rem
}

#head .back i {
  font-size: 0.6rem;
  font-style: normal;
}

#head .lis {
  flex: 1;
  overflow: hidden;
  font-size: .45rem;
  z-index: 2;
  font-weight: 400;
  text-align: center;
  line-height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#head .lis li {
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 1.4rem;
  font-size: .346667rem;
}

#head .lis .active {
  color: #BEA474;
}

#head .nav {
  position: relative;
}

#head .nav em {
  font-size: .56rem;
}

#head .nav .nav_list {
  /* overflow: hidden; */
  width: 3.866667rem;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 1.32rem;
  /* transform: translateY(-100%);
  transition: all .25s ease; */
  z-index: 8888;
}

#head .nav .nav_list li {
  color: #000;
  line-height: 1.466667rem;
  position: relative;
  font-size: .373333rem;
  text-align: left;
  width: 100%;
  height: 1.466667rem;
  border-bottom: .013333rem solid #ccc;
}

#head .nav .nav_list li:nth-child(5) {
  border: none;
}

#head .nav .nav_list li span:first-child {
  padding: 0 .265rem 0 0.533333rem;
  font-size: 0.56rem;
  vertical-align: middle;
}

#head .nav .nav_list li span:last-child {
  font-size: 0.4rem;
  vertical-align: middle;
}


/*轮播图*/
.van-swipe-item {
  text-align: center;
  margin-top: 1.333333rem;
}

.van-swipe-item img {
  width: 100%;
}

.van-swipe__indicator {
  background: #666;
}

.element.style {
  background: #111;
}

/*小图片*/
.option {
  width: 100%;
  border-bottom: 1px solid rgb(196, 190, 190);
  display: flex;
  justify-content: space-around;
  height: 1.333333rem;
}

.option div {
  display: flex;
  align-items: center;
}

.option i:nth-child(1) {
  margin-left: 0;
  border: 1px solid #000;
}

.option i {
  display: inline-block;
  width: .8rem;
  height: .8rem;

  margin-left: 20px;
}

/*    购物车底部  */

.van-goods-action-button--first,
.van-button {
  border-radius: 0px;
}

.van-goods-action-button--warning {
  background: #000;
}

.van-goods-action-button--danger {
  background: rgb(248, 161, 32);
}

/*加入购物车遮罩*/
.bottomCart {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.333333rem;
  background: #111;
  color: #fff;
  font-size: 12px;
  line-height: 1.333333rem;
  text-align: center;
}

/*标签*/
.van-tabs__wrap {
  position: absolute;
  top: 150px;
  left: 12px;
}

.van-ellipsis {
  border: 1px solid #666;
  width: 40px;
  height: 20px;
  line-height: 20px;
}

.van-tabs__line {
  z-index: 0;
  background-color: #fff;
  top: 100px;
}

.van-tab--active {
  background: rgb(15, 15, 15);
  width: 42px;
  height: 22px;
  color: #fff;
  padding: 0;
  font-size: 12px;
}

.van-popup .textColor {
  position: absolute;
  top: 130px;
  left: 18px;
}

.van-popup p {
  position: absolute;
  top: 230px;
  left: 18px;
}

.van-tab {
  font-size: 12px;
}

.van-stepper {
  position: absolute;
  top: 220px;
  left: 200px;
  border: 1px solid #999;
  height: 25px;
  width: 90px;
  line-height: 25px;
}

.van-stepper__input {
  margin: 0;
  height: 20px;
}

.van-stepper__plus {
  width: 28px;
  height: 0;
}

.van-stepper__minus {
  height: 0px;
}

.van-tabs__content .jiage {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 130px;
}

.van-tabs__content div img {
  width: 100px;
}

.van-tabs__content .tu1 {
  border: 1px solid rgb(204, 199, 199);
  position: absolute;
  top: 0px;
  left: 20px;

}

.van-tabs__content .tu2 {
  border: 1px solid rgb(204, 199, 199);
  position: absolute;
  left: 20px;
}



/* 内容 */
.box {
  padding: 10px 20px 0 20px;
  margin-bottom: 1.333333rem;
}

.box .box5 {
  font-size: .32rem;
  margin-bottom: 20px;
}

.box .price {
  color: rgb(7, 7, 7);
  font-size: .64rem;
  font-weight: 900;
}

.box h3 {
  font-size: .4666666rem;
  margin-bottom: .533333rem;
}

.box .city {
  width: 100%;
  font-size: .346667rem;
  margin-bottom: .266667rem;
}

.box .kuaidi {
  width: 100%;
  font-size: .346667rem;
}

.box .fenqi {
  width: 100%;
  margin-top: .666667rem;
}

.box .fenqi li {
  margin-top: -1px;
  padding: 0.48rem 1.266666rem 0.48rem 0.6666666rem;
  min-height: 0.533333rem;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .fenqi li h4 {
  font-size: .426667rem;
  font-weight: bold;
}

.box .fenqi li p::after {
  content: '>';
  display: block;
  width: .533333rem;
  height: .533333rem;
  position: absolute;
  right: 0.333333rem;
  top: 30%;
  font-size: .533333rem;
  text-align: center;
  line-height: .5333333rem;
}

.color_box {
  padding: 0.8rem 0.1333333rem 0.8rem 0.655555rem;
  width: 100%;
  height: 4.053333rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.color_box h4 {
  font-size: .426667rem;
  font-weight: bold;
}

.color_box ul {
  width: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.color_box ul li {
  float: left;
  margin: 0 0.53333rem 0.4rem 0;
  padding: 0 0.24rem;
  border: 1px solid #ebebeb;
  border-radius: 0.04rem;
  line-height: .64rem;
  flex-shrink: 0;
}


.icons {
  width: 100%;
  background-color: #fafafa;
  height: 3.84rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.icons li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icons li img {
  width: .8rem;
  height: 1.066667rem;
  margin-bottom: .266667rem;
}

.icons li p {
  font-size: .32rem;
  text-align: center;
}


.product-info-title {
  font-size: 20px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 20px;
}


.border-bottom {
  padding-bottom: .8rem;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}

.product-info-title {
  line-height: 0.75rem;
}

.product-info {
  line-height: 0.48rem;
}

.product-info td {
  padding: 0.346667rem 0;
  vertical-align: top;
}

.product-info td:first-child {
  padding-right: 0.4rem;
  min-width: 2.7rem;
  white-space: nowrap;
}

.product-info tr:first-child td {
  padding-top: 0;
}

.imgUrl {
  background: #f5f5f5;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}