.van-nav-bar {
    margin-bottom: 75px;
}

.code {
    position: absolute;
    right: 10px;
    top: 90px;
    width: 112px;
    height: 38px;
    border: 1px solid red;
}

.van-button--primary {
    background: #1a191e;
    color: white;
}

.van-button--large {
    width: 300px;
    margin: 10px;
}

.plus-options {
    display: flex;
    justify-content: space-between;
}

.plus-options>span {
    display: block;
    margin: 0 20px 0 20px;
    font-size: 12px;
}

.third-party {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.third-party div img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}