
i{ font-style:normal}
/*导航*/
.navigation {
  width: 100%;
  height: 1.333333rem;
  background: #ddd;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}
.navigation i {
  font-size: 14px;
  line-height: 1.333333rem;
}
.navigation .van-icon {
  font-size: 18px;
}

/*隐藏导航*/
.hideNav {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100px;
  height: 145px;
  background: #fff;
  margin-top: 1.333333rem;
}
.hideNav .van-icon {
  font-size: 18px;
}

.hideNav ul {
  display: flex;
  flex-direction: column;
}
.hideNav ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}
.hideNav ul li .van-icon {
  margin-right: 10px;
}

/*轮播图*/
.van-swipe-item {
  text-align: center;
  margin-top: 1.333333rem;
}
.van-swipe-item img {

  width: 100%;

}
.van-swipe__indicator {
  background: #666;
}
.element.style {
  background: #111;
}
/*小图片*/
.option {
  width: 100%;
  border-bottom: 1px solid rgb(196, 190, 190);
  display: flex;
  justify-content: space-around;
  height: 1.333333rem;
}
.option div {
  display: flex;
  align-items: center;
}
.option i:nth-child(1) {
  margin-left: 0;
  border: 1px solid #000;
}
.option i {
  display: inline-block;
  width: 0.666667rem;
  height: 0.666667rem;

  margin-left: 20px;
}
/*    购物车底部  */

.van-goods-action-button--first,
.van-button {
  border-radius: 0px;
}
.van-goods-action-button--warning {
  background: #000;
}
.van-goods-action-button--danger {
  background: rgb(248, 161, 32);
}
/*加入购物车遮罩*/
.bottomCart {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.333333rem;
  background: #111;
  color: #fff;
  font-size: 12px;
  line-height: 1.333333rem;
  text-align: center;
}
/*标签*/
.van-tabs__wrap {
  position: absolute;
  top: 150px;
  left: 12px;
}

.van-ellipsis {
  border: 1px solid #666;
  width: 40px;
  height: 20px;
  line-height: 20px;
}
.van-tabs__line {
  z-index: 0;
  background-color: #fff;
  top: 100px;
}
.van-tab--active {
  background: rgb(15, 15, 15);
  width: 42px;
  height: 22px;
  color: #fff;
  padding: 0;
  font-size: 12px;
}
.van-popup .textColor {
  position: absolute;
  top: 130px;
  left: 18px;
}
.van-popup p {
  position: absolute;
  top: 230px;
  left: 18px;
}
.van-tab {
  font-size: 12px;
}
.van-stepper {
  position: absolute;
  top: 220px;
  left: 200px;
  border: 1px solid #999;
  height: 25px;
  width: 90px;
  line-height: 25px;
}
.van-stepper__input {
  margin: 0;
  height: 20px;
}
.van-stepper__plus {
  width: 28px;
  height: 0;
}
.van-stepper__minus {
  height: 0px;
}
.van-tabs__content .jiage{
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 130px;
}
.van-tabs__content div img{
  width: 100px;
}
.van-tabs__content .tu1{
  border: 1px solid rgb(204, 199, 199);
  position: absolute;
  top: 0px;
  left: 20px;
  
}
.van-tabs__content .tu2{
  border: 1px solid rgb(204, 199, 199);
  position: absolute;
  left: 20px;
}
/* 内容 */
.box{
  padding: 10px 20px 0 20px;
}
.box .box1{
  margin-bottom: 20px;
}
.box .price{
  color: rgb(7, 7, 7);
  font-size: 24px;
  font-weight: 900;
}
.box  h3{
  font-size: 16px;
  font-weight: 900;
}
.box  h3 span{
  color: #BEA474;
}
.product-info-title{
font-size: 20px;
font-weight: 900;
margin-top: 100px;
margin-bottom: 20px;
}


.border-bottom {
  padding-bottom: .8rem;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}
.product-info-title {
  line-height: 0.75rem;
}

.product-info {
  line-height: 0.48rem;
}

.product-info td {
  padding: 0.346667rem 0;
  vertical-align: top;
}

.product-info td:first-child {
  padding-right: 0.4rem;
  min-width: 2.7rem;
  white-space: nowrap;
}

.product-info tr:first-child td {
  padding-top: 0;
}

