.list {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: .26667rem;
    box-shadow: 0 1px 0 0 #e1e1e1;
    margin-top: 1.226667rem;
}

.list .list_k {
    width: 5.33333rem;
    height: 5.33333rem;
    margin: .53333rem auto .26667rem;
}

.list p {
    margin-bottom: 1.33333rem;
    font-family: PingFangSC-Light;
    font-size: .37333rem;
    color: #000;
    line-height: .53333rem;
    text-align: center;
}

.shop_lis {
    width: 100%;
    margin-top: 1.2rem;
}

.shop_lis .main {
    margin-bottom: .266667rem;
    position: relative;
    height: 4.26667rem;
    margin-bottom: .26667rem;
    background-color: #fff;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.shop_lis .main .input_box {
    height: 100%;
    width: 1.173333rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_lis .main .input_box input {
    width: .533333rem;
    height: .533333rem;
    border-radius: 50%;
}

.shop_lis .main .img_box {
    width: 3.226667rem;
    height: 3.226667rem;
    margin-right: .26667rem;
}

.shop_lis .main .btn_box {
    box-sizing: border-box;
    width: 6.266667rem;
    height: 3.2rem;
    color: #1c1717;
    padding-left: .266667rem;
    padding-top: .266667rem;
}

.shop_lis .main .btn_box .title {
    font-size: .4rem;
}

.shop_lis .main .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.shop_lis .main .price {
    font-size: .5rem;
    font-weight: bold;
}

.van-checkbox__label {
	display: block;
}

.mylike {
    width: 100%;
    padding-top: .53333rem;
    background: #fff;
    margin-bottom: .533333rem;
}

.mylike h2 {
    padding: 0 .4rem .54667rem;
    font-size: .50667rem;
    line-height: .70667rem;
    font-weight: 700;
}

.mylike ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mylike ul li {
    width: 48%;
    margin-bottom: .8rem;
}

.mylike ul li .mylike_img {
    width: 100%;
    height: 4.98667rem;
    margin-bottom: .66667rem;
}

.mylike ul li .mylike_font {
    padding: 0 .4rem;
    margin-bottom: .8rem;
}

.mylike ul li .mylike_font h3 {
    margin-bottom: .10667rem;
    font-family: Futura-Medium;
    font-size: .32rem;
    line-height: .42667rem;
    font-weight: 700;
}

.mylike ul li .mylike_font .title {
    width: 100%;
    margin-bottom: .26667rem;
    font-size: .32rem;
    font-family: PingFangSC-Light;
    line-height: .44rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mylike ul li .mylike_font .price {
    margin-bottom: .05333rem;
    height: .64rem;
    line-height: .64rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000b0b;
    font-family: Futura-Medium;
    font-size: .45333rem;
}

.mylike ul li .mylike_font .price .d_price {
    margin-right: .13333rem;
    font-family: PingFangSC-Medium;
    font-size: .45333rem;
    line-height: .64rem;
}

.mylike ul li .mylike_font .price .d_icon {
    padding: 0 .08rem;
    background-color: #f8a120;
    font-size: .26667rem;
    line-height: .4rem;
    text-align: center;
    color: #fff;
}

.mylike ul li .mylike_font .del_price {
    height: .42667rem;
    margin-bottom: .18667rem;
    font-size: .32rem;
    line-height: .42667rem;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: line-through;
}

.mylike ul li .mylike_font .name {
    display: flex;
    align-items: center;
    height: .44rem;
    margin-top: .18667rem;
    line-height: .44rem;
    color: #8b572a;
    font-family: PingFangSC-Light;
    font-size: .32rem;
    overflow: hidden;
    white-space: nowrap;
}